/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap');

/* Root Selectors */
:root {
    --light-black: #484848;
}

/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
}

/* Element Selectors */
body { 
    margin: 100px;
    background-color: var(--light-black);
}

main {
    margin: 20px 50px;
}

/* Start Header Section */
header h1 {
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
    font-weight: 500;
}

form {
    text-align: center;
    margin: 40px 0;
}

.form-group input {
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-weight: 300;
}

.form-group #add-todo {
    border: none;
    cursor: pointer;
}

.form-group #add-todo i {
    font-size: 30px;
    position: relative;
    top: 8px;
    right: 50px;
}
/* End Header Section */

/* Start Main Section */
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: white;
    margin: 10px 30px;
    border-radius: 8px;
}

.list li {
    margin: 10px 20px;
    width: 200px;
    padding: 10px;
    color: black;
}

.list li p {
    color: black;
}

.list .icons {
    display: flex;
    justify-content: flex-end;
}

.list .icons i {
    color: black;
    margin: 30px 5px 0 5px;
}
/* End Main Section */