/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap');

/* Root Selectors */
:root {
    --light-black: #484848;
    --background: linear-gradient(#9795EF, #F9C5D1);
}

/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
}

/* Element Selectors */
body { 
    margin: 100px;
    background-color: var(--light-black);
}

main {
    margin: 20px 50px;
}

/* Start Header Section */
header h1 {
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    margin-right: 20px;
    font-size: 23px;
}

#hamburger {
    cursor: pointer;
}

.toggle-theme {
    position: absolute;
    background: var(--background);
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}

.toggle-theme p {
    color: black;
}

.theme {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 10px;
}

.theme-heading {
    font-size: 15px;
    position: relative;
    top: 5px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.hide {
    display: none;
}
/* End Header Section */

/* Start Form Section */
form {
    text-align: center;
    margin: 40px 0;
}

.form-group input {
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-weight: 300;
}

.form-group #add-todo {
    cursor: pointer;
    margin-left: 15px;
    background: var(--background);
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(255, 182, 193, 0.5);
}
/* End Form Section */

/* Start Main Section */
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list {
    background: var(--background);
    margin: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(255, 182, 193, 0.5);
}

.list:hover {
    transform: scale(1.1);
}

.list li {
    margin: 10px 20px;
    width: 200px;
    padding: 10px;
    color: black;
}

.list li p {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}

.list-todo.checked {
    color: black;
}

.list .icons {
    display: flex;
    justify-content: flex-end;
}

.list .icons button {
    all: unset;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.list .icons i {
    color: white;
    margin: 30px 5px 0 5px;
}

.list .icons i:hover {
    color: var(--light-black); 
}
/* End Main Section */

/* Media Queries */
@media only screen and (max-width: 768px) {

    /* Start Main Section */
    .form-group button {
        margin-top: 20px;
    }
    /* End Main Section */
}

@media only screen and (max-width: 500px) {

    /* Start Header Section */
    header h1 {
        font-size: 20px;
    }
    /* End Header Section */

    /* Start Main Section */
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-group input {
        width: 350px;
    }

    .form-group button {
        margin-top: 20px;
    }

    .list {
        margin: 18px 0;
    }
    /* End Main Section */
}